<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pool</title>
</head>
<body>
	<header>
		<div name = "header name">Ремонт бассейнов</div>
		<div name = "contact phone">+38(095)8550867</div>
	</header>
	<main>
		{% for post in posts %}
			<img src="{{ post.picture.url }}">
		{% endfor %}
		<article id = "service">
			Мы представляем ряд услуг :
			<ul>
				<li>Строительство бассейнов с нуля
				<li>Чистка бассейнов
				<li>Консервация на зимний период
				<li>Консультация
			</ul>
		</article>
		<article id = "galery">
			
		</article>
	</main>
</body>
</html>